.hero{
  height: 500px;
}

.heading{
  font-size: 30px;
}

.card{
  width: 250px;
  min-height: 330px;
  box-shadow: 2px 5px 10px #a6a6a6;
}

.title{
  font-weight: bold;
}

.para-bg{
    height: 20px;
    padding: 0;
    margin-top: 42px;
}

.button{
  border-radius: 0;
}

.card-footer-item{
  padding: 0;
  margin-top: -20px;
}

.card-1{
  margin-top: -15px;
}

.card-2{
  margin-top: -10px;
}
